@import "../styles/colors";

.mobile-navbar {
  background-color: $lightBgColor;
  width: 90px;
  height: 90px;
  border-radius: 15px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 20px;
  position: fixed !important;
  top: 20px !important;
  right: 20px;
  z-index: 100;
  flex-direction: column;
  box-shadow: -3px 3px 11px $shadowColor;
  display: none;

  &.expand {
    width: calc(100% - 40px);
    height: 400px;

    .navs-holder {
      height: 400px;
      //overflow-y: auto;
      padding-top: 30px;
    }

    li, .menu-burger {
      p {
        transition: all 0.2s ease;
        opacity: 1 !important;
        display: unset;
      }
    }
  }

  .menu-burger {
    display: flex;
    align-items: center;
    column-gap: 10px;

    p {
      display: none;
    }

    a {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #fff;
      padding: 15px;
      display: block;
      position: relative;
    }
  }

  .top, .middle, .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navs-holder {
    display: flex;
    align-items: flex-start;
    column-gap: 30px;
    height: 0;
    overflow: hidden;
  }

  .navs {
    li {
      display: flex;
      align-items: center;
      column-gap: 10px;
      margin-bottom: 20px;

      p {
        transition: all 0.2s ease;
        opacity: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #fff;
      padding: 15px;
      display: block;
      position: relative;

      .count {
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $yellowColor;
        top: 5px;
        right: -2px;
        display: grid;
        place-items: center;

        span {
          font-size: 10px;
          font-weight: 500;
          color: #fff;
        }
      }

      svg, svg path {
        color: $textColor;
        transition: all 0.2s ease;
      }

      &.fill:hover {
        svg, svg path {
          fill: #fff;
        }
      }

      &:hover {
        background-color: $yellowColor;

        .count {
          background-color: $yellowColor;
        }

        svg, svg path {
          color: #fff;
          transition: all 0.2s ease;
        }
      }

      &.active {
        background-color: $yellowColor;

        svg, svg path {
          color: #fff;
          transition: all 0.2s ease;
        }
      }

    }
  }
}

@media screen and (max-width: 815px) {
  .mobile-navbar {
    display: flex;
  }
}